# Copy file ini menjadi .env untuk local server.
# Jangan share .env ke orang lain.

# Utama
GEMINI_API_KEY=isi_api_key_gemini_kamu
AI_PROVIDER=gemini

# Opsional fallback
# GROQ_API_KEY=isi_key_groq_kamu
# OPENROUTER_API_KEY=isi_key_openrouter_kamu

# Opsional
PORT=4173
