# Copy file ini menjadi .env untuk local server.
# Jangan share .env ke orang lain.

# AI utama
GEMINI_API_KEY=isi_api_key_gemini_kamu
AI_PROVIDER=gemini

# Supabase auto cloud profile
SUPABASE_URL=https://xxxx.supabase.co
SUPABASE_ANON_KEY=isi_anon_public_key_supabase

# Opsional fallback AI
# GROQ_API_KEY=isi_key_groq_kamu
# OPENROUTER_API_KEY=isi_key_openrouter_kamu

# Opsional
PORT=4173
